@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;1,400&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Sans";
  color: var(--secondary-color);
}

img {
  width: 100%;
  max-width: 100%;
}

.container {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

:root {
  --primary-color: #ffbf00;
  --secondary-color: #2f2e41;
  --white: #ffff;
  --black: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat";
  text-transform: uppercase;
  margin: 0;
  color: var(--black);
}

p {
  font-family: "PT Sans";
  font-size: 18px;
  color: var(--secondary-color);
  margin: 0;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: var(--secondary-color);
}

.btn {
  border: solid 3px;
  background: var(--white);
  font-size: 20px;
  color: var(--secondary-color);
  text-align: center;
  display: flex;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

.btn.btn-primary {
  border-color: var(--primary-color);
}

.btn.btn-primary:hover {
  background: var(--primary-color);
}

.btn.btn-secondary {
  border-color: var(--secondary-color);
}

.btn.btn-secondary:hover {
  background: var(--secondary-color);
  color: var(--white);
}

.nav__list {
  display: flex;
  list-style-type: none;
  justify-content: right;
  align-items: center;
  margin-top: 47px;
}

.nav__list-items {
  margin-right: 88px;
}

.nav__list-items:last-child {
  margin-right: 0;
}

.nav__list-item {
  border-bottom: 1px solid transparent;
  padding-bottom: 6px;
  transition: all 0.25s ease-in-out;
  font-size: 18px;
  text-transform: uppercase;
  color: var(--secondary-color);
}

.nav__list-item:hover {
  border-bottom-color: var(--primary-color);
}

.ellipse-4 {
  max-width: 192px;
  position: absolute;
  left: 20%;
  top: 10%;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__heading {
  text-transform: capitalize;
  font-weight: 300;
  font-size: 80px;
  color: var(--primary-color);
  margin-top: 88px;
  white-space: nowrap;
}

.header__heading:after {
  content: "";
  width: 400px;
  height: 7px;
  background: var(--secondary-color);
  display: block;
  margin-top: 25px;
}

.header__title {
  text-transform: capitalize;
  font-family: "PT Sans";
  font-weight: 400;
  margin-top: 20px;
  font-size: 30px;
}

.header__title-span {
  font-weight: 500;
  color: var(--primary-color);
}

.btn.btn-primary.btn-header {
  width: 217px;
  height: 50px;
  margin-top: 86px;
}

.header__illustration {
  max-width: 624px;
  width: 100%;
  margin-top: 173px;
}

.ellipse-3 {
  max-width: 95px;
  position: absolute;
  left: 35%;
  top: 90%;
}

.header__footer {
  display: flex;
  align-items: center;
}

.header__footer-arrow {
  max-width: 35px;
  max-height: 19px;
}

.header__footer-text {
  margin-left: 8px;
}

.about {
  margin-top: 135px;
}

.about__content {
  display: flex;
  justify-content: space-between;
}

.about__text-title {
  font-weight: 500;
  font-size: 37px;
}

.about__text-heading {
  font-weight: 500;
  font-size: 30px;
  color: var(--primary-color);
  white-space: nowrap;
}

.about__copy {
  margin-top: 65px;
}

.about__text-copy {
  margin-top: 20px;
  line-height: 1.5;
}

.about__text-copy:first-child {
  margin-top: 0;
}

.btn.btn-primary.btn-about {
  margin-top: 41px;
  margin-bottom: 93px;
  width: 174px;
  height: 54px;
}

.about__illustration {
  max-width: 810px;
  max-height: 630px;
  margin-bottom: 110px;
}

.process {
  margin-bottom: 195px;
}

.process__content-titles {
  text-align: end;
  margin-bottom: 91px;
}

.process__content-title {
  font-weight: 500;
  font-size: 37px;
}

.process__content-heading {
  font-weight: 500;
  font-size: 30px;
  color: var(--primary-color);
}

.process__contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}

.process__contact-photo {
  max-width: 419px;
  max-height: 267px;
}

.process__contact-text {
  max-width: 528px;
  text-align: center;
}

.process__contact-number {
  font-size: 45px;
  font-style: italic;
  color: var(--secondary-color);
}

.process__contact-title {
  font-weight: 500;
  font-size: 20px;
  color: var(--primary-color);
  margin-top: 31px;
}

.process-span {
  color: var(--secondary-color);
  font-size: 20px;
  font-weight: 500;
}

.process__contact-script {
  margin-top: 25px;
}

.process__reflection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}

.process___reflection-photo {
  max-width: 420px;
  max-height: 327px;
}

.process__reflection-text {
  max-width: 528px;
  text-align: center;
}

.process__reflection-number {
  font-size: 45px;
  font-style: italic;
  color: var(--secondary-color);
}

.process__reflection-title {
  font-weight: 500;
  font-size: 20px;
  color: var(--primary-color);
  margin-top: 31px;
}

.process__reflection-script {
  margin-top: 25px;
}

.process__integration {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}

.process__integration-photo {
  max-width: 420px;
  max-height: 300px;
}

.process__integration-text {
  max-width: 528px;
  text-align: center;
}

.process__integration-number {
  font-size: 45px;
  font-style: italic;
  color: var(--secondary-color);
}

.process__integration-title {
  font-weight: 500;
  font-size: 20px;
  color: var(--primary-color);
  margin-top: 31px;
}

.process__integration-script {
  margin-top: 25px;
}

.process__success {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.process__success-photo {
  max-width: 420px;
  max-height: 399px;
}

.process__success-text {
  max-width: 528px;
  text-align: center;
}

.process__success-number {
  font-size: 45px;
  font-style: italic;
  color: var(--secondary-color);
}

.process__success-title {
  font-weight: 500;
  font-size: 20px;
  color: var(--primary-color);
  margin-top: 31px;
}

.process__success-script {
  margin-top: 25px;
}

.skill__title {
  font-weight: 500;
  font-size: 37px;
}

.skill__heading {
  font-weight: 500;
  font-size: 30px;
  color: var(--primary-color);
  margin-bottom: 141px;
}

.skill__content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  margin-bottom: 70px;
  align-items: baseline;
}

.skill__content-party {
  margin-right: 44px;
}

.skill__content-party:last-child {
  margin-right: 0;
}

.skill__content-title {
  font-weight: 500;
  font-size: 20px;
  color: var(--primary-color);
  margin-top: 20px;
}

.skill__content-text {
  margin-top: 26px;
}

.integration-img {
  max-width: 192px;
  max-height: 162px;
}

.development-img {
  max-width: 188px;
  max-height: 176px;
}

.design-img {
  max-width: 192px;
  max-height: 146px;
}

.trade-img {
  max-width: 192px;
  max-height: 143px;
}

.skill__footer {
  margin-bottom: 140px;
}

.btn.btn-primary.btn-skill {
  width: 234px;
  height: 54px;
  margin: 0 auto;
}

.contact__title {
  font-weight: 500;
  font-size: 37px;
}

.contact__heading {
  font-weight: 500;
  font-size: 30px;
  color: var(--primary-color);
  margin-bottom: 20px;
}

.contact__content {
  display: flex;
  margin-bottom: 160px;
  justify-content: space-between;
  align-items: center;
}

input,
textarea,
select {
  font-family: "PT Sans";
  color: var(--black);
  font-size: 16px;
}

.contact__form {
  margin-bottom: 30px;
}

.contact__form:last-of-type {
  margin-bottom: 52px;
}

.contact__form-box {
  width: 427px;
  padding-left: 11px;
  outline: 0;
  color: var(--black);
  font-size: 16px;
}

.contact__form-mail,
.contact__form-tel,
.contact__form-text {
  border: none;
  border-bottom: 3px solid var(--primary-color);
  height: 33px;
}

.contact__form-msg {
  border: 3px solid var(--primary-color);
  height: 172px;
  padding-top: 17px;
}

.btn.btn-secondary.btn-form {
  width: 162px;
  height: 54px;
  margin: 0 auto;
}

.contact-img {
  max-width: 696px;
  max-height: 580px;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 38px;
}

::placeholder {
  color: var(--black);
  opacity: 0.5;
}

::-webkit-input-placeholder {
  color: var(--black);
  opacity: 0.5;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: var(--black);
  opacity: 0.5;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: var(--black);
  opacity: 0.5;
}

:-ms-input-placeholder {
  color: var(--black);
  opacity: 0.5;
}

.burger {
  cursor: pointer;
  margin-right: 20px;
  border: 1px solid var(--secondary-color);
  border-radius: 3px;
  padding: 8px;
  display: none;
  max-width: 22px;
  margin-top: 20px;
}

.burger-item {
  width: 22px;
  height: 2px;
  display: block;
  background: var(--secondary-color);
  border-radius: 25px;
  margin-bottom: 5px;
  transition: all 0.5s;
}

.burger-item:last-child {
  margin-bottom: 0;
}

.burger.active .burger-item:nth-child(2) {
  opacity: 0;
  transform: translateX(20px);
}

.burger.active .burger-item:first-child,
.burger.active .burger-item:last-child {
  opacity: 1;
}

.burger.active .burger-item:first-child {
  transform: translateY(7px) rotate(45deg);
}

.burger.active .burger-item:last-child {
  transform: translateY(-7px) rotate(-45deg);
}

.nav.open {
  display: block;
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }

  .header__heading {
    font-size: 60px;
  }

  .header__title {
    font-size: 25px;
  }

  .about__content {
    flex-direction: column;
  }

  .about__copy {
    text-align: center;
    max-width: 700px;
    margin: 65px auto 0;
  }

  .about__illustration {
    margin: 0 auto 110px;
  }

  .btn.btn-primary.btn-about {
    margin: 41px auto 93px;
  }

  .skill__content {
    grid-template-columns: repeat(2, 1fr);
  }

  .skill__content-integration,
  .skill__content-development {
    margin-bottom: 30px;
  }
}

@media (max-width: 1024px) {
  .nav {
    display: none;
    position: absolute;
    width: 100%;
    background: var(--white);
    position: absolute;
    max-width: 205px;
    right: 0;
    left: auto;
    top: auto;
    margin-right: 20px;
  }
  .nav__list {
    flex-direction: column;
    align-items: center;
  }
  .nav__list-items {
    margin: 0 10px 15px 10px;
  }
  .nav__list-items:last-child {
    margin-bottom: 0;
  }

  .burger {
    display: block;
    margin-left: auto;
  }
}

@media (max-width: 984px) {
  .container {
    max-width: 860px;
  }
}

@media (max-width: 816px) {
  .container {
    max-width: 650px;
  }

  .header__content {
    flex-direction: column;
  }

  .ellipse-4 {
    display: none;
  }

  .ellipse-3 {
    display: none;
  }

  .header__illustration {
    margin-top: 58px;
  }

  .burger {
    margin-right: 0;
  }

  .process__contact {
    flex-direction: column;
  }

  .process__contact-text {
    margin-top: 15px;
  }

  .process__reflection {
    flex-direction: column-reverse;
  }

  .process__reflection-text {
    margin-top: 15px;
  }

  .process__integration {
    flex-direction: column;
  }

  .process__integration-text {
    margin-top: 15px;
  }

  .process__success {
    flex-direction: column-reverse;
  }

  .process__success-text {
    margin-top: 15px;
  }

  .skill__footer {
    margin-bottom: 75px;
  }

  .contact__content {
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  .container {
    max-width: 500px;
  }

  .footer__content-text {
    font-size: 12px;
  }
}

@media (max-width: 500px) {
  .container  {
    max-width: 300px;
  }

  .header__footer {
    margin-top: 20px;
  }

  .about {
    margin-top: 80px;
  }

  .process {
    margin-bottom: 100px;
  }

  .skill__content {
    grid-template-columns: 1fr;
  }
}