@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;1,400&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Sans";
  color: var(--secondary-color);
}

.container {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

:root {
  --primary-color: #ffbf00;
  --secondary-color: #2f2e41;
  --white: #ffff;
  --black: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat";
  text-transform: uppercase;
  margin: 0;
  color: var(--black);
}

p {
  font-family: "PT Sans";
  font-size: 18px;
  color: var(--secondary-color);
  margin: 0;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: var(--secondary-color);
}

.btn {
  border: solid 3px;
  background: var(--white);
  font-size: 20px;
  color: var(--secondary-color);
  text-align: center;
  display: flex;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

.btn.btn-primary {
  border-color: var(--primary-color);
}

.btn.btn-primary:hover {
  background: var(--primary-color);
}

.btn.btn-secondary {
  border-color: var(--secondary-color);
}

.btn.btn-secondary:hover {
  background: var(--secondary-color);
  color: var(--white);
}

.nav__list {
  display: flex;
  list-style-type: none;
  justify-content: right;
  align-items: center;
  margin-top: 47px;
}

.nav__list-items {
  margin-right: 88px;
}

.nav__list-items:last-child {
  margin-right: 0;
}

.nav__list-item {
  border-bottom: 1px solid transparent;
  padding-bottom: 6px;
  transition: all 0.25s ease-in-out;
  font-size: 18px;
  text-transform: uppercase;
  color: var(--secondary-color);
}

.nav__list-item:hover {
  border-bottom-color: var(--primary-color);
}

.ellipse-4 {
  max-width: 192px;
  width: 100%;
  position: absolute;
  left: 263px;
  top: 58px;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__heading {
  text-transform: capitalize;
  font-weight: 300;
  font-size: 80px;
  color: var(--primary-color);
  margin-top: 88px;
  margin-right: 57px;
  white-space: nowrap;
}

.header__heading:after {
  content: "";
  width: 400px;
  height: 7px;
  background: var(--secondary-color);
  display: block;
  margin-top: 25px;
}

.header__title {
  text-transform: capitalize;
  font-family: "PT Sans";
  font-weight: 400;
  margin-top: 20px;
}

.header__title-span {
  font-weight: 500;
  color: var(--primary-color);
}

.btn.btn-primary.btn-header {
  width: 217px;
  height: 50px;
  margin-top: 86px;
}

.header__illustration {
  max-width: 624px;
  width: 100%;
  margin-top: 173px;
}

.ellipse-3 {
  position: absolute;
  left: 556px;
  top: 622px;
}

.header__footer {
  display: flex;
  align-items: center;
}

.header__footer-text {
  margin-left: 8px;
}

.about {
  margin-top: 135px;
}

.about__content {
  display: flex;
  justify-content: space-between;
}

.about__text-title {
  font-weight: 500;
  font-size: 37px;
}

.about__text-heading {
  font-weight: 500;
  font-size: 30px;
  color: var(--primary-color);
  white-space: nowrap;
}

.about__copy {
  margin-top: 65px;
}

.about__text-copy {
  margin-top: 20px;
  line-height: 1.5;
}

.about__text-copy:first-child {
  margin-top: 0;
}

.btn.btn-primary.btn-about {
  margin-top: 41px;
  margin-bottom: 93px;
  width: 174px;
  height: 54px;
}

.about__illustration {
  margin-bottom: 110px;
}

.process {
  margin-bottom: 195px;
}

.process__content-titles {
  text-align: end;
  margin-bottom: 91px;
}

.process__content-title {
  font-weight: 500;
  font-size: 37px;
}

.process__content-heading {
  font-weight: 500;
  font-size: 30px;
  color: var(--primary-color);
}

.process__contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}

.process__contact-text {
  max-width: 528px;
  text-align: center;
}

.process__contact-number {
  font-size: 45px;
  font-style: italic;
  color: var(--secondary-color);
}

.process__contact-title {
  font-weight: 500;
  font-size: 20px;
  color: var(--primary-color);
  margin-top: 31px;
}

.process-span {
  color: var(--secondary-color);
  font-size: 20px;
  font-weight: 500;
}

.process__contact-script {
  margin-top: 25px;
}

.process__reflection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}

.process__reflection-text {
  max-width: 528px;
  text-align: center;
}

.process__reflection-number {
  font-size: 45px;
  font-style: italic;
  color: var(--secondary-color);
}

.process__reflection-title {
  font-weight: 500;
  font-size: 20px;
  color: var(--primary-color);
  margin-top: 31px;
}

.process__reflection-script {
  margin-top: 25px;
}

.process__integration {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}

.process__integration-text {
  max-width: 528px;
  text-align: center;
}

.process__integration-number {
  font-size: 45px;
  font-style: italic;
  color: var(--secondary-color);
}

.process__integration-title {
  font-weight: 500;
  font-size: 20px;
  color: var(--primary-color);
  margin-top: 31px;
}

.process__integration-script {
  margin-top: 25px;
}

.process__success {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.process__success-text {
  max-width: 528px;
  text-align: center;
}

.process__success-number {
  font-size: 45px;
  font-style: italic;
  color: var(--secondary-color);
}

.process__success-title {
  font-weight: 500;
  font-size: 20px;
  color: var(--primary-color);
  margin-top: 31px;
}

.process__success-script {
  margin-top: 25px;
}

.skill__title {
  font-weight: 500;
  font-size: 37px;
}

.skill__heading {
  font-weight: 500;
  font-size: 30px;
  color: var(--primary-color);
  margin-bottom: 141px;
}

.skill__content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  margin-bottom: 70px;
  align-items: baseline;
}

.skill__content-party {
  margin-right: 44px;
}

.skill__content-party:last-child {
  margin-right: 0;
}

.skill__content-title {
  font-weight: 500;
  font-size: 20px;
  color: var(--primary-color);
  margin-top: 20px;
}

.skill__content-text {
  margin-top: 26px;
}

.skill__footer {
  margin-bottom: 140px;
}

.btn.btn-primary.btn-skill {
  width: 234px;
  height: 54px;
  margin: 0 auto;
}

.contact__title {
  font-weight: 500;
  font-size: 37px;
}

.contact__heading {
  font-weight: 500;
  font-size: 30px;
  color: var(--primary-color);
  margin-bottom: 20px;
}

.contact__content {
  display: flex;
  margin-bottom: 160px;
  justify-content: space-between;
  align-items: center;
}

input, textarea, select {
  font-family: "PT Sans";
  color: var(--black);
  font-size: 16px;
}

.contact__form {
  margin-bottom: 30px;
}

.contact__form:last-of-type {
  margin-bottom: 52px;
}

.contact__form-box {
  width: 427px;
  padding-left: 11px;
  outline: 0;
  color: var(--black);
  font-size: 16px;
}

.contact__form-mail,
.contact__form-tel,
.contact__form-text {
  border: none;
  border-bottom: 3px solid var(--primary-color);
  height: 33px;
}

.contact__form-msg {
  border: 3px solid var(--primary-color);
  height: 172px;
  padding-top: 17px;
}

.btn.btn-secondary.btn-form {
  width: 162px;
  height: 54px;
  margin: 0 auto;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 38px;
}

::placeholder {
  color: var(--black);
  opacity: 0.5;
}

::-webkit-input-placeholder {
  color: var(--black);
  opacity: 0.5;
}

:-moz-placeholder { /* Firefox 18- */
  color: var(--black);
  opacity: 0.5;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: var(--black);
  opacity: 0.5;
}

:-ms-input-placeholder {  
  color: var(--black);
  opacity: 0.5;
}